# Docker
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database
DB_HOST=postgres
CONTAINER_NAME=your-container

# Test Database
POSTGRES_TEST_DB=your_test_database

# Dev
POSTGRES_DEV_DB=tevira_dev_db

# FastAPI Settings
PYTHONPATH=.