# Docker
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database
CONTAINER_NAME=your-container

# Test Database
POSTGRES_TEST_DB=your_test_database

# FastAPI Settings
DEFAULT_PROJECT=Inbox
PYTHONPATH=.